.status-bar {
    position: fixed;
    width: 100%;
    height: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    padding: 15px 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    opacity: 1;
    background-color: #f7f7f7;
    border-bottom: 1px solid #fcfcfc;
}

.status-bar i {
    font-size: 14px;
}

.status-bar .status-bar__battery-level {
    margin-left: 5px;
}